
body {
	background-color: black;
	max-width: 1400px;
	height: 1000px;
	background: url(../assets/bg.jpg) no-repeat center center;
}

body > div:first-child {
	right: 7px;
	position: relative;
}

.logo {
	margin-top: 20px;
	width: 700px;
	margin: 0 auto;
	position: relative;
	top: 20px;
}

.logo > img {
	width: 700px;
}

.content {
	margin: 0 auto;
	width: 610px;
	position: relative;
	top: 100px;
	text-align: center;
}

.url-input {
	width: 100%;
	margin-bottom: 15px;
	text-align: center;
}

.btn {
	margin-bottom: 30px;
}

.video-container {
	height: 410px;
    width: 100%;
    background-color: black;
    border: 5px solid #111;
}

#featuredVideoCarousel{
	/*width: 400px;*/
	/*height: 300px;*/
}
.carousel-video{
	height: 410px;
	width: 100%;
}
.nav-tabs > li > a {
	border-radius: 0;
	border-style: none;
	background-color: transparent;
	/*box-shadow: inset 0 -8px 7px -9px rgba(0,0,0,.4),-2px -2px 5px -2px rgba(0,0,0,.4);*/
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover {
	border-style: none;
	background-color: transparent;
	/*box-shadow: inset 0 0 0 0 rgba(0,0,0,.4),-2px -3px 5px -2px rgba(0,0,0,.4);*/
}

/* Tab Content */
.tab-pane {
	/*background: #F5F5F5;*/
	box-shadow: 0 0 4px rgba(0,0,0,.4);
	border-radius: 0;
	text-align: center;
	padding: 10px;
}
.video-header-tools{
	height: 120px;
}